.price-plans {  
    .headings {
        @include heading-info();
        p {
            color: $font-color;
        }
    }
    .plans {
        .plans-block {
            h6 {
                background-color: $primary-color;
                width: 100%;
                padding: 10px;
            }
            h5 {
                padding-top: 25px;
            }
            p {
                color: $font-color;
            }
            .price {
                font-weight: bold;
                font-size: 30px;
                color: black;
            }
            .tag {
                background-color: $primary-color;
                color: black;
            }
            ul {
                text-align: left;
                color: $font-color;
                font-size: 15px;
                list-style: none;
                li {
                    padding-bottom: 15px;
                }
                span {
                    padding-right: 10px;
                }
                .check {
                    color: $primary-color;
                }
                .check-text {
                    color: black;
                }
            }
            .order-btn {
                @include order-botton();
            }
            .active-order {
                @include order-botton();
                background-color: $primary-color;
            }
        }
    }
}