@import 'config';
@import 'home';
@import 'service';
@import 'plans';
@import 'recommendations';
@import 'mid';
@import 'portfolio';
@import 'blog';
@import 'contact';

body {
    background: #E4E6EB;
    height: 100vh;
    
}
.footer {
    background-color: $body-color;
    text-align: center;
    padding: 10px;
    color: black;
}